body {
    background-image: url(../images/train-stationbg.jpeg);
    background-attachment: fixed;
    background-position: center;
}
h1 {
    text-shadow: 2px 2px #ffffff;
    font-family: 'Faster One', cursive;
    font-size: 100px;
}
.jumbotron{
    background-color: rgba(118, 119, 107, 0.75);
    font-weight: bold;
}
.card {
    background-color: rgba(155, 156, 134, 0.5);
    font-weight: bold;
    text-shadow: 1px 1px #ffffff;
}
.container {
    margin-bottom:10px;
}
.card-body {
    background-color: rgba(255, 255, 255, 0.5)
}
th {
    font-size: larger;
}
.card-header {
    font-size: larger;
}
#submit {
    background-color: rgba(118, 119, 107, 0.75);
}